<!DOCTYPE html>
<html>
<head>
    <title>Graph Result</title>
</head>
<body>
    <h2>Graph Result</h2>
    <div>
        <img src="data:image/png;base64,{{ graph_base64 }}" alt="Graph">
    </div>
</body>
</html>
